
.about-us { 
    .container {
        padding: 20px 0;
        }

        &__main-title {
        font-family:$fontRaleway;
        font-weight: 400;
        font-size: 36px;
        @include mediaTablet {
            font-size: 24px;
        }
        @include mediaMobile {
            font-size: 18px;
        }
        text-align: center;
        }
    
        &__second-title {
        font-family: $fontRaleway;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 133px;         
        @include mediaTablet {
        font-size: 14px;
        margin-bottom: 86px;
        }
        @include mediaMobile {
        font-size: 13px;
        margin-bottom: 84px;
        }
        text-align: center;
        color: #86878B;
        }
        
        &__skill-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include mediaMobile {
            flex-direction: column;
            align-items: center;
        }
    }
}
        .skill-list {
        width: calc(31%);
        text-align: center;
        list-style-type: none;
        padding: 15px 0;
        @include mediaMobile {
            width: 100%;
        }
    
        &__img--wrap {
        }

    &__img-circle {
        width: 92px;
        height: 92px;
        @include mediaTablet {
        width: 80px;
        height: 80px;
        }
        @include mediaMobile {
        width: 80px;
        height: 80px;
        }
        position: relative;
        margin: auto;
        border: 2px solid $colorRedAccent;
        border-radius: 50%;
    }
        &__img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
        &__title {
        font-family: $fontOpenSans;
        font-weight: 700;
        font-size: 24px;
        @include mediaTablet {
        font-size: 18px;
        }
        @include mediaMobile {
        font-size: 18px;
        }
        text-align: center;
        text-transform: capitalize;
        color: $colorBlackfont;
        margin: 30px 0;
    }
        &__descr {
        font-family: $fontRaleway;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        @include mediaTablet {
        font-size: 14px;
        line-height: 16px;
        }
        @include mediaMobile {
        font-size: 14px;
        line-height: 16px;
            }
        text-align: center;
        color: $colorBlackfont;
        padding: 25px;

        }
    
}
