.socials-media {
    background: #F8EFEF;

    .container--media {
        margin: 0 auto;
        padding: 35px 12px; 
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @include mediaMobile {
        flex-direction: column;
        }

    }    
        &__content {
            width: 40%;
            align-self: flex-start;
            @include mediaMobile {
            align-self:center;
        }
    }

        &__title {
        font-family: $fontOpenSans;
        font-weight: 700;
        font-size: 24px;
        @include mediaTablet {
        font-size: 18px;
        }
        @include mediaMobile {
        font-size: 18px;
        text-align: center;
        }
        text-transform: capitalize;
        margin-bottom: 25px;
        }

        &__description {
        font-family: $fontRaleway;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        @include mediaTablet {
        font-size: 14px;
        line-height: 16px;
        }
        @include mediaMobile {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
            }
        color: #86878B;
        }

        &__page {

        }

        &__list {    
        display: flex;
        // flex-wrap: wrap;
        align-items:center;
        overflow: hidden;
        
        }

        &__item {
        padding: 10px;
        transition: border 0.3s ease-in-out;
        }
        &__item:hover {
            border: 1px solid $colorRedAccent;
        } 

        &__item:focus {
            cursor: pointer;
        } 

        &__link {
            outline: none;
            border: none;
            background: transparent;
            display: block;
        }

        &__picture {
            width: 70px;
            height: 70px;
            path {
                fill: white;
            }
        @include mediaTablet {
            width: 64px;
            height: 64px;
        }
        @include mediaMobile {
            width: 26px;
            height: 26px;
        }
        }

        &__link:active {
            &__picture {path
            {fill: $colorRedAccent;
            }
            } 
        }

    }


