.Social-Media {

}
.Social-Media--wrapper {
    display: flex;
}
.Social-Media__content {

}
.Social-Media__title {

}
.Social-Media__description {

}
.Social-Media__socials {

}
.Social-Media__socials-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.socials-list__items {

}
.socials-list__item-picture {

}
