$fontRaleway: 'Raleway', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;
$colorBlackfont:#000000;  
$colorRedAccent: rgb(202, 108, 108);
$colorLightGreyAccent: #F5F5F5;
$colorGreyAccent:#86878B;
$colorWhiteAccent:#FFFFFF;