
* {
    box-sizing:border-box;
}


ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 15px;
    border: 5px solid rgb(226, 43, 119);
}


